<!DOCTYPE html>
<html lang="pt" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iasmin e Mateus</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />

    <link rel="icon" href="./logo_dark.png" />
    <meta property="og:title" content="Casamento" />
    <meta name="description" content="Iasmin e Mateus" />
    <meta property="og:description" content="Iasmin e Mateus" />
    <meta property="og:image" content="./logo_light.png" />
  </head>
  <body>
    <div id="app">
      <section class="section" style="background-color: #251a00">
        <div v-if="showModal" class="modal is-active">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head" style="background-color: #855d00">
              <p class="modal-card-title" style="color: white">Faz o PIX ;)</p>
              <button
                class="delete"
                @click="showModal = false"
                aria-label="close"
              ></button>
            </header>
            <section class="modal-card-body">
              <div class="columns">
                <div class="column is-vcentered is-8">
                  <p>
                    Como moramos em outro estado, preferimos receber o valor dos
                    presentes em dinheiro, que usaremos em nossa lua de mel.
                    <br />
                    <br />
                  </p>
                  <p>
                    <strong>PIX:</strong> (96) 98121-8548 <br />
                    <strong>Nome:</strong> Mateus Corrêa D'Almeida
                    <button
                      @click.prevent="copy"
                      class="button is-warning is-dark is-fullwidth mt-2"
                    >
                      Pix Copia e Cola
                    </button>
                  </p>
                </div>
                <div class="column">
                  <figure class="image">
                    <img src="./pix.jpg" />
                  </figure>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="container">
          <div class="columns columns is-vcentered">
            <div class="column is-9">
              <h1 class="title">Nossa História</h1>
              <p class="subtitle">
                Nosso amor começou em outubro de 2019, quando pela primeira vez
                contemplamos a pessoa que a vida nos reservou. Ao longo dos
                últimos cinco anos, vivemos momentos incríveis juntos: decidimos
                morar juntos, mudamos de cidade e viajamos muito. <br />
                Em um belo dia, percebemos que deveríamos oficializar, diante
                das pessoas que amamos, o que já era um fato em nossas vidas,
                tornando-nos verdadeiramente um só. <br />
                Para este momento tão especial, escolhemos aqueles que sempre
                estiveram ao nosso lado, independentemente das circunstâncias,
                abençoando-nos com seu amor e suas orações. <br />
                Escolher casar em Ferreira Gomes reflete quem somos e o que
                amamos: um casal simples que aprecia a tranquilidade da vida,
                mesmo com a paixão por viajar. Apesar da distância, sempre
                queremos estar perto das pessoas que amamos. <br />
                E se você está indeciso entre nos presentear com uma aventura
                para a lua de mel ou um pirex, separamos algumas opções
                verdadeiramente incríveis para garantir que seu presente seja um
                sucesso absoluto. <br />
                <br />
                "As muitas águas não poderiam apagar o amor, nem os rios
                afogá-lo; ainda que alguém oferecesse tudo o que possui, não
                seria suficiente para comprar o amor." Cânticos 8.7
              </p>
            </div>
            <div class="column">
              <figure class="image">
                <img src="./photo.jpg" />
              </figure>
            </div>
          </div>
          <h1 class="title">Lista de Presentes</h1>
          <p class="subtitle">
            Como você já sabe, moramos em outro estado, então seria complicado
            levar as coisas para nossa casa, portanto elaboramos uma lista bem
            descontraída e divertida.
          </p>

          <div class="columns is-multiline">
            <div
              class="column is-one-fifth"
              v-for="item in presentes"
              :key="item.name"
            >
              <article class="message is-warning">
                <div class="message-body">
                  <div class="subtitle is-size-5 has-text-weight-semibold">
                    <p style="color: white">{{item.name}}</p>
                  </div>
                  <figure class="image">
                    <img :src="item.image" />
                  </figure>
                  <div class="is-size-6 mt-2" style="font-weight: 600">
                    <p>{{item.value}}</p>
                  </div>
                  <button
                    @click.prevent="showModal = true"
                    class="button is-warning is-dark is-fullwidth mt-2"
                  >
                    Presentear
                  </button>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <style>
    /* barra de rolagem */
    ::-webkit-scrollbar-track {
      background: #dad7d7;
    }

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: grey;
    }
    img {
      border-radius: 5%;
    }
  </style>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script>
    Vue.createApp({
      created() {
        fetch("./presentes.json")
          .then((r) => r.json())
          .then((json) => {
            this.presentes = json;
          });
      },
      data() {
        return {
          presentes: [],
          showModal: false,
        };
      },
      methods: {
        copy() {
          const copyText =
            "00020126640014br.gov.bcb.pix0114+55969812185480224Presente Iasmin e Mateus5204000053039865802BR5923MATEUS CORREA D ALMEIDA6006MACAPA622905250OFJS56YYRAd5STa852u4JDx763044394";

          navigator.clipboard.writeText(copyText);
        },
      },
    }).mount("#app");
  </script>
</html>
